.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F8F3DF;
  padding: 3rem 2rem;
  flex-wrap: wrap;
}

.hero-text {
  flex: 1;
  max-width: 600px;
}

.tagline {
  color: green;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  padding-left: 60px;
  /* padding-bottom: 80px; */
}

.hero-text h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
   padding-left: 60px;
  padding-bottom: 80px;
}

.hero-buttons {
  display: flex;
  gap: 1.4rem;
   padding-left: 60px;
   height: 40px;
  
}

.hero-image {
  flex: 1;
  max-width: 650px;
    position: relative;
}


.bg-layer {
  position: absolute;
  top: -50px;
  left: 30px;
  width: 150%;
  opacity: 3; /* optional, to blend it in */
  /* z-index: 0; */
}

.main-image {
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
}


.hero-image img {
  width: 100%;
  height: auto;
}
